.about {
    margin-top: 100px;
}

.header {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    background: rgb(170,197,39);
    background: radial-gradient(circle, rgba(170,197,39,1) 0%, rgba(249,252,249,1) 100%);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 4px 6px;
}

.about ul {
    margin-bottom: 30px;
}
.about li {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}